<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please log in via Reddit</h2>
    <p>
      <a href="/auth/reddit" class="btn btn-primary" style="color:white;">reddit go now</a>
    </p>
  </form>
</div> <!-- /container -->
