<div class="container row">
  <% if current_user.subreddits_moderated.any? %>

      <div class="span6 moderated">
        <p>
          <span>Please a college subreddit to create bot for</span>
        </p>
        <% current_user.subreddits_moderated.each do |subreddit_name| %>
        <button class="btn btn-primary"><%= subreddit_name %></button>
        <% end %>
      </div>
  <% end %>

  <% if current_user.subreddits_subscribed.any? %>
      <div class="span6 subscribed">
        <p>
          <span>Please choose a college subreddit</span>
        </p>
        <% current_user.subreddits_subscribed.each do |subreddit_name| %>
            <button class="btn btn-primary"><%= subreddit_name %></button>
        <% end %>
      </div>
  <% end %>

  <div class="span6 moderated">

  </div>
</div>
