<div class="row">
  <% if @subreddits_moderated.any? %>
    <span>Please a college subreddit to create bot for</span>
    <% @subreddits_moderated.each do |subreddit_name| %>
      <div class="span6 subscribed">
        <button class="btn btn-primary"><%= subreddit_name %></button>
      </div>
    <% end %>
  <% end %>

  <!--<% @subreddits_moderated.each do |subreddit_name| %>-->
    <!--<div class="span6 subscribed">-->
      <!--<span>Please choose </span>-->
    <!--</div>-->
  <!--<% end %>-->

  <div class="span6 moderated">

  </div>
</div>
